@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    position: absolute;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaa;
}

::-webkit-scrollbar-track {
    background-color: gray;
}
::-webkit-scrollbar-track-piece {
    background-color: gray;
}

.quill {
    padding-bottom: 43px;
}

.ql-editor {
    font-size: 1rem;
}

.ql-container {
    border-radius: 0 0 0.5rem 0.5rem;
}
.ql-toolbar {
    border-radius: 0.5rem 0.5rem 0 0;
}
